@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  margin: 0;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #f8f5dad8 0%, #fae0e8a9 95%);
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  background: rgb(0, 213, 241);
  background: radial-gradient(
    circle,
    rgba(0, 213, 241, 1) 40%,
    rgba(1, 172, 195, 0.8) 100%
  );
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}

.taken,
.ship {
  position: relative;
  background-color: hsl(0, 0%, 80%);
}

.taken.start.vertical,
.taken.start.vertical::before {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.taken.end.vertical,
.taken.end.vertical::before {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.taken.start.horizontal,
.taken.start.horizontal::before {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.taken.end.horizontal,
.taken.end.horizontal::before {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.battleship-grid div {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.grid-display {
  display: flex;
}

.ship > div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  border-radius: 4vmin;
}

.destroyer-container {
  --width: 2;
  background-color: orange;
}

.destroyer-container-vertical {
  --height: 2;
  --width: 1;
  background-color: orange;
}

.submarine-container {
  --width: 3;
  background-color: pink;
}

.submarine-container-vertical {
  --height: 3;
  --width: 1;
  background-color: pink;
}

.cruiser-container {
  --width: 3;
  background-color: purple;
}

.cruiser-container-vertical {
  --height: 3;
  --width: 1;
  background-color: purple;
}

.battleship-container {
  --width: 4;
  background-color: aqua;
}

.battleship-container-vertical {
  --height: 4;
  --width: 1;
  background-color: aqua;
}

.carrier-container {
  --width: 5;
  background-color: green;
}

.carrier-container-vertical {
  --height: 5;
  --width: 1;
  background-color: green;
}

.destroyer {
  background-color: orange;
}

.submarine {
  background-color: pink;
}

.cruiser {
  background-color: purple;
}

.battleship {
  background-color: aqua;
}

.carrier {
  background-color: green;
}

.boom {
  background-color: red;
}

.miss {
  background-color: black;
}
